# Retail Admins control retail_addons and ALL its sub-folders
/custom_addons/retail_addons/ @Odoo-Dev-Architecture-Test/retail-admins

# POS Admins control pos_addons and ALL its sub-folders
/custom_addons/pos_addons/ @Odoo-Dev-Architecture-Test/pos-admins
