# Retail Admins control retail_addons
/custom_addons/retail_addons/* @[Odoo-Dev-Architecture-Test]/retail-admins

# POS Admins control pos_addons
/custom_addons/pos_addons/* @[Odoo-Dev-Architecture-Test]/pos-admins
